<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>mapleFS 用户应用</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.19/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app id="inspire" dark>
        <v-navigation-drawer
                clipped
                fixed
                v-model="drawer"
                app
        >
            <v-list dense>
                <vue-fs-list></vue-fs-list>
            </v-list>

        </v-navigation-drawer>
        <v-toolbar app fixed clipped-left>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>mapleFS</v-toolbar-title>
        </v-toolbar>
        <v-content>

            <v-container fluid>
                <file-group></file-group>
            </v-container>
        </v-content>
    </v-app>
</div>



<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.19/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.component('blog-post', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>'
    })

    Vue.component('file', {
        template: `
            <div class="fs-file">
                <!--<v-btn><img src="static/folder.png" height="50" width="50"/></v-btn>-->
                <v-btn  @click="clickFile">
                    <v-icon v-if="file.fileType==='file'">short_text</v-icon>
                    <v-icon v-else>folder</v-icon>
                    <p> {{file.fileName}} </p>
                </v-btn>

            </div>
        `,
        data: function () {
            return {
//                type: this.type,
//                // test
//                filename: this.filename,
            }
        },
        computed: {
            imageUri () {
                if (this.type === "dict") {
                    return "static/folder.png"
                } else {
                    return "static/text.png"
                }
            }
        },
        props: {
            file: {
                type: Object
            },
        },
        methods: {
            clickFile: function () {
                if (this.$root.choosen === this.file) {
                    this.$root.choosen = null
                } else {
                    this.$root.choosen = this.file
                }

            }
        }
//        name: 'file',
    })

    Vue.component('file-group', {
        template: `
            <div class="file-group">
                <h2> {{ currentDir }} </h2>
                <v-container fluid>
                     <v-layout row wrap>
                     <v-flex xs12 sm6 class="py-2">
                          <v-btn-toggle v-model="toggle_none">
                              <div v-for="(f, index) in file_list"
                              :key="index"
                              xs4>
                                    <file v-bind:file="f"></file>

                                      <!--<file v-if="f.fileType === 'file'"  v-bind:filename='f.fileName' :type="f.fileType" > </file>-->
                                      <!--<file v-else v-bind:filename='f.fileName' :type="f.fileType"></file>-->

                              </div>
                          </v-btn-toggle>
                        </v-flex>
                      </v-layout>
                </v-container>
             </div>
        `,
        data: function () {
            return {
                name: "file-group",

                size: 'sm',
                toggle_none: null,
            }
        },
        computed: {
            file_list: function () {
                return this.$root.current_file_lists
            },
            currentDir: function () {
                return this.$root.currentDir
            },
        },
        name: 'file-group',
        created: function() {
            let vm = this
            console.log(this.file_list)
            axios.get('/dirs').then(

                // https://stackoverflow.com/questions/47549891/vue-js-cannot-read-property-push-of-undefined
                (response) => {
                    for (let msg_data of response.data) {
                        if (msg_data.file_name !== '.' && msg_data.file_name !== '..') {
                            let f_type;
                            if (msg_data.file_type === 'DIRECT') {
                                f_type = 'dict'
                            } else {
                                f_type = 'file'
                            }
                            vm.file_list.push({
                                fileName: msg_data.file_name,
                                fileType: f_type,
                                fileINum: msg_data.i_num,
                            })
                        }

                    }
                }
            ).catch(function (error) {
                console.log(error);
            })
        }
    })



    Vue.component('click-node', {
        template: `
            <div class="click-node">
                <v-bottom-sheet v-model="sheet">
                    <v-list-tile @click="" slot="activator">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{title}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list>
                        <v-subheader>{{ type }}</v-subheader>
                        <v-list-tile
                            v-for="tile in tiles"
                            :key="tile.title"
                            @click="sheet = false"
                        >

                            <v-list-tile-title @click="sheet = false; tile.func()">{{ tile.title }}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-bottom-sheet>

                <v-dialog v-model="create_file" max-width="500px">
                  <v-card>
                    <v-card-title>
                      创建文件
                    </v-card-title>

                    <v-text-field
                        id="create-file"
                        name="input-1"
                        label="输入你要创建的文件名称"
                        v-model="create_file_name"
                    ></v-text-field>

                    <v-card-actions>
                      <v-btn color="primary" flat @click.stop="create_file=false">关闭</v-btn>
                      <v-btn color="primary" flat @click.stop="create_file=false; createF()">创建文件</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>

                <v-dialog v-model="create_dir" max-width="500px">
                  <v-card>
                    <v-card-title>
                      创建目录
                    </v-card-title>

                    <v-text-field
                        id="create-dir"
                        name="input-1"
                        label="输入你要创建的目录名称"
                        v-model="create_dir_name"
                    ></v-text-field>

                    <v-card-actions>
                      <v-btn color="primary" flat @click.stop="create_dir=false">Close</v-btn>
                      <v-btn color="primary" flat @click.stop="createD">创建目录</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>



                <v-dialog v-model="edit_file" max-width="500px">
                  <v-card>
                    <v-card-title>
                      修改文件
                    </v-card-title>

                    <v-text-field
                        id="create-dir"
                        name="input-1"
                        label="文本内容"

                        v-model="editing_text"
                        multi-line
                    ></v-text-field>

                    <v-card-actions>
                      <v-btn color="primary" flat @click.stop="edit_file=false">Close</v-btn>
                      <v-btn color="primary" flat @click.stop="saveF">保存文件</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </div>


            `
        ,
        data: function () {
            return {
//                title: this.title,

                sheet: false,
                create_file: false,
                create_file_name: '',
                create_dir: false,
                create_dir_name: '',
                edit_file: false,
                editing_text: '',
                tileSheets: {
                    'summary': [
                        { title: '创建文件' , func: ()=>{this.create_file = true}},
                        { title: '创建目录' , func: ()=>{this.create_dir = true}},
                        { title: '返回上一级目录' , func: ()=>{
                                axios.get("/cd/..").then(
                                        (response) => {
                                            // console.log("success switch, ", this.$root.choosen.fileName)

                                            this.$root.currentDir = this.$root.choosen.fileName
                                            this.$root.choosen = null
                                            this.$root.current_file_lists = this.$root.current_file_lists.slice(0,0)

                                        }
                                ).catch(
                                        (error) => {
                                            // 准备ALERT你妈
                                            console.log(error)
                                        }
                                )
                            }},
                    ],
                    'file': [
                        {title: '删除该文件', func: ()=>{
                                axios.delete("/files/" + this.$root.choosen.fileName).then(
                                        (response) => {
                                            this.$root.current_file_lists = this.$root.current_file_lists.filter(t=>t.fileName !== this.$root.choosen.fileName)
                                            this.$root.choosen = null
                                        }
                                ).catch(
                                        (error) => {
                                            console.log(error)
                                        }
                                )
                            }},
                        {title: '编辑该文件', func: ()=>{

                            axios.get("/files/" + this.$root.choosen.fileName).then(
                                (response) => {
                                    console.log(response.data.text)
                                    this.editing_text = response.data.text
                                    this.edit_file = true
                                }
                            ).catch(function (error) {
                                console.log(error)
                            })
                        }},
                        {title: '重命名该文件', func: ()=>{}},
                        {title: '移动该文件', func: ()=>{}},
                    ],
                    'dict': [
                        {title: '删除该目录(需要确保目录下没有文件)', func: ()=>{
                                axios.delete("/dirs/" + this.$root.choosen.fileName).then(
                                    (response) => {
                                        this.$root.current_file_lists = this.$root.current_file_lists.filter(t=>t.fileName !== this.$root.choosen.fileName)
                                        this.$root.choosen = null
                                    }
                                ).catch(
                                    (error) => {
                                        console.log(error)
                                    }
                                )
                            }},
                        {title: '重命名该目录', func: ()=>{}},
                        {title: '切换到该目录', func: () => {
                                // axios.ge
                                axios.get("/cd/" + this.$root.choosen.fileName).then(
                                    (response) => {
                                        console.log("success switch, ", this.$root.choosen.fileName)

                                        this.$root.currentDir = this.$root.choosen.fileName
                                        this.$root.choosen = null
                                        this.$root.current_file_lists = this.$root.current_file_lists.slice(0,0)

                                    }
                                ).catch(
                                    (error) => {
                                        // 准备ALERT你妈
                                        console.log(error)
                                    }
                                )
                            }},
                    ]
                }
            }
        },
        methods: {
            createD:  function(event) {
                axios.post("/dirs/" + this.create_dir_name).then(
                    (response) => {
                        this.$root.current_file_lists.push({
                            fileName: this.create_dir_name,
                            fileType: 'dict',
                            fileINum: response.data.i_num,
                        })
                        this.create_dir_name = ''
                    }
                ).catch(
                    (error) => {
                        console.log(error)
                        this.create_dir_name = ''
                    }

                )
                this.create_dir = false
                // TODO: 尖头函数，function 区别
            }, createF: function() {
                axios.post("/files/" + this.create_file_name).then(
                        (response) => {
                            this.$root.current_file_lists.push({
                                fileName: this.create_file_name,
                                fileType: 'file',
                                fileINum: response.data.i_num,
                            })
                            this.create_file_name = ''
                        }
                ).catch(
                        (error) => {
                            console.log(error)
                            this.create_file_name = ''
                        }

                )

            }, saveF : function () {
                let bodyFormData = new FormData();
                bodyFormData.set("text", this.editing_text)
                console.log(this.editing_text)
                axios({
                    method: 'put',
                    url: "/files/" + this.$root.choosen.fileName,
                    data: bodyFormData,
                    config: { headers: {'Content-Type': 'multipart/form-data' }}
                })
                .then(
                        (response) => {
                            this.editing_text = ''
                            this.edit_file = false
                        }
                ).catch(
                        (error) => {
                            console.log(error)
                            // this.edit_file = false
                        }

                )
            }
        },
        props: {
            title: {
                type: String,
                default: 'summary',
            }, type: {
                type: String,
                default: 'summary',
            }
        },
        computed: {
            tiles: function () {
                console.log(this.type)
                // if (this.title === null)
                //     return this.tileSheets['summary']
                return this.tileSheets[this.type]
            },
        }
    })


    Vue.component('click-file', {
        template: `<click-node :title="'操作该文件'" :type="'file'" :key="'file'"></click-node>`,
    })

    Vue.component('click-dict', {
        template: `<click-node :title="'操作该目录'" :type="'dict'" :key="'dict'"></click-node>`,
    })

    Vue.component('vue-fs-list', {
        template: `
            <v-list dense>
                <click-node :title="'总操作'" :key="'summary'"></click-node>

                <component
                    v-if="this.$root.choosen !== null"
                    v-bind:is="currentListComponent"
                    class="tab"
                ></component>
            </v-list>
        `,
        data: function () {
            return {

                lists: ['file', 'dict'],
            }
        },
        computed: {
            currentList: function () {
                if (this.$root.choosen !== null) {
                    if (this.$root.choosen.fileType === 'file') {
                        return 'file'
                    } else {
                        return 'dict'
                    }
                } else {
                    return null
                }
            },
            currentListComponent: function () {
                return 'click-' + this.currentList
            }
        }
    })

    new Vue({
        el: '#app',
        data: () => ({
            drawer: true,
            choosen: null,
            currentDir: 'root',
            current_file_lists: [],
        }),

        props: {
            source: String
        },

    })

</script>
</body>
</html>